In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import *
from sklearn.metrics import *

In [93]:
df=pd.read_csv("magic04.data",header=None)

In [34]:
df.head(1)

,0,1,2,3,4,5,6,7,8,9,10
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.011,-8.2027,40.092,81.8828,0

In [94]:
df[10] = df[10].replace({'g': 0, 'h': 1})
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,0
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,0
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,0
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,0
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,0

In [95]:
g=df[0:12332]

g=g.sample(n=len(g))
len(g)
h=df[12332:len(df)+1]
g=g[0:6688]
len(g)

df[0:6688]=g
df[6688:2*6688]=h

In [98]:
y=df.iloc[0:2*6688,10]
y
x=df.iloc[0:2*6688,0:10]
len(x)

13376

In [99]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3,random_state=42,shuffle=True)
x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size = 0.5,random_state=42,shuffle=True)

In [100]:
len(x_val)

2006

In [104]:
scaler = StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)
x_val=scaler.transform(x_val)

In [110]:
k_classifier=KNeighborsClassifier(n_neighbors=1,metric='euclidean')
k_classifier.fit(x_train,y_train)

y_preds=k_classifier.predict(x_test)
y_preds

array([1, 1, 1, ..., 1, 1, 1])